* {
    box-sizing: border-box;
}

header {
    top: 0;
    position:fixed;
    display:inline-block;
    padding:20px;
    margin-bottom:20px;
}
.Name {float:left;

}
.NavSec {float: left;
}

#YourName { background-color: #4aaaa5;
            padding:20px;
            color: #ffffff;
            margin-left: 200px;
            margin-right: 200px;
            float: left;

    

}

li {
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    

}
    li a:hover {
        background-color: #4aaaa5;
        text-decoration: none;
    }




            
    





