* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/gaming-pattern.png");/*Honestly not sure why this doesn't work*/
   
}
/*Set up the container as absolute and span the width of the page */


header {
    background-color: #ffffff;
    border-bottom: solid 2px #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
    position: fixed; /*The header should be in view when scrolling*/
    top:0; 
    width: 100%;
    left: 0; /*For some reason there's a gap on the left unless I put this- even though my width is 100% */ 
    
}

.container {
    width: 960px;
    margin: 0 auto;

}

.Name {float:left;
       margin-left: 200px;
       margin-top: 30px;     

}
nav {
    bottom:0;
}
.NavSec {
       float: left;
         
}


.YourName { background-color: #4aaaa5;
            padding:20px;
            color: #ffffff;
            float: left;  
            margin-bottom: 0; 

}
 ul {
     float: right;
     margin-bottom: 0;
     
 }
li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    color: #cccccc;
    
    
}

a {
    text-decoration: none;
    color: #cccccc;
    
}

a:hover {
        background-color: #4aaaa5;
       
    }

.maincontent {
    margin-top: 130px;
    background-color: #ffffff;
    border: solid 2px #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.TopMainContent {
color: #4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
border-bottom: solid 2px #cccccc;
padding: 10px;
}

#Bio1 {
    margin-top: 30px;
}



            
    





