* {
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/images/vintage-concrete.png");/*Honestly not sure why this doesn't work*/
   
}
/*Set up the container as absolute and span the width of the page */


header {
    background-color: #ffffff;
    border-bottom: solid 1.5px #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
     
    position: fixed; /*The header should be in view when scrolling*/
    top:0; 
    width: 100%;
    left: 0; /*For some reason there's a gap on the left unless I put this- even though my width is 100% */ 
    
}

.container {
    width: 960px;
    margin: 0 auto;

}

.Name {float:left;
       margin-left: 200px;
       margin-top: 30px;     

}
nav {
    bottom:0;
}
.NavSec {
       float: left;
         
}


.YourName { background-color: #4aaaa5;
            padding:20px;
            color: #ffffff;
            float: left;  
            margin-bottom: 0; 

}
 ul {
     float: right;
     margin-bottom: 0;
     color: #777777;
     
 }
li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 14px 16px;
    
    
    
}

a {
    text-decoration: none;
    color: #777777;
    
}

a:hover {
        background-color: #4aaaa5;
        padding: 10px;
       
    }

.maincontent {
    margin-top: 130px;
    background-color: #ffffff;
    border: solid 2px #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.TopMainContent {
color: #4aaaa5;
font-family: Georgia, 'Times New Roman', Times, serif;
border-bottom: solid 2px #cccccc;
padding: 10px;
}

#Bio1 {
    margin-top: 30px;
}

#BioPic {
    float: left;
    margin-right: 20px;
}

#FirstP, #SecP, #ThirdP {
    line-height: 200%;
}

.Bottom {
    background-color: #666666;
    border-top: solid 6px #4aaaa5;
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}

#Form1{
    margin-top: 30px;
    overflow: auto;
}
input {
    width: 100%;
    
}

#NameAndEmail {
    height: 25px;
}

#MessageBox {
    height: 200px;
}
#Submit {
            background-color: #4aaaa5;
            padding-left:20px;
            padding-right: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            color: #ffffff;
            float: left;
}

.smallcontainer {
    width: 820px;
    margin: 0 auto;
}

.smallwrapper {
    width: 760px;
    margin: 0 auto;
    overflow: auto;
}

#PortfolioRow1 {
    float:left;
    
    
}

.images {
    width: 300px;
    height: 200px;
    padding: 20px;
}

.ImagePos {
    position:relative;
    float: left;
}

.centered {
    position: absolute;
    bottom: 35px;
    
    color: #ffffff;
    background-color: #4aaaa5;
    opacity: .75;
    text-align: center;
    width: 260px;
    line-height: 200%;
    font-size: 24px;
    left: 20px;
    
}

.BottomP {
    background-color: #666666;
    border-top: solid 6px #4aaaa5;
    padding: 30px;
    position: relative; /*When scrolling only relative allows*/
    bottom: 0;
    width: 100%;
    left:0;
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}


